@import url(https://fonts.googleapis.com/css?family=Raleway:200);

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::selection{
    color: coral;
}

.container1{
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
}

nav{
    top: -50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

nav img{
    width: 6rem;
    margin-left: 1%;
}

nav ul{
    display: flex;
    gap: 2.5 rem;
}

nav ul li{
    display: block;
    justify-content: space-between;
    text-align: end;
    float: left;
    padding: 35px 25px 25px 25px;
    transition: 0.5s;
    font-size: 1.5rem;
}

nav ul li a{
    color: #f1670b;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav .list:hover li :not(:hover){
    filter: blur(5px);
}
nav ul li :hover{
    filter: blur(0px);
    color: #719e27cb;
}

nav ul li a{
    text-decoration: none;
}

#check{
    display: none;
}

.checkbtn{
    display: none;
} 

.checkbtn2{
    display: none;
} 

@media screen and (max-width: 950px){
    .list{
        background-color: rgb(197, 223, 215);
        width: 40%;
        height: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 100%;
        top: 0;
        padding-top: 5%;
        font-size: 100%;
        transition: all 1.5s;
    }

    .list li{
        font-size: 110%;
    }
    #check{
        display: none;
    }

    .checkbtn{
        display: block;
        padding: 5% 3%;
    }

    .checkbtn2{
        display: block;
        padding-left: 50%;
    }

    #check:checked~ul{
        left: 60%;
    }

    nav .list:hover li :not(:hover){
        filter: blur(0px);
    }
}



.name{
    color: #eecd10;
}

.head h2{
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head h1{
    margin-top: 0.5em;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head p{
    font-family: sans-serif;
    color: #3c3c3c;
    font-size: 10vw;
    font-weight: bold;
    background: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.801) 20%,
        rgba(255, 6, 234, 0.979) 30%,
        #4abb09 70%,
        rgba(255, 0, 0, 0.808) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

button{
    padding: 10px 50px;
    font-weight: bolder;
    font-size: large;
    border-radius: 30px;
    background-color: #e08c0d;
    border-color: #032e57;
    border-style: solid;
    color: white;
}

button:is(:hover){
    outline-offset: 3px;
    outline-style: solid;
    outline-color: #032e57;
    border-color: #e09c0d;
}
.container2{
    background-color: lightslategray;
    width: 100%;
    padding: 150px 15vw;
    
    align-items: center;
}

.card{
    width: 100%;
    height: auto;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.card-inner{
    text-align: center;
    
    font-weight: bold;
    font-family: Raleway;
    width: inherit;
    height: inherit;
    padding: 3vw 2vw;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card-inner h1{
    margin-bottom: 10px;
  
    font-family: sans-serif;
}

.card-inner p{
    font-size: large;
    letter-spacing: 1px;
    font-weight: 800;
}

.circle{
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1){
   top: -25px;
   left: -25px;
}

.circle:nth-child(2){
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
 }

 @keyframes move-up6 {
    to{
        transform: translateY(-10px);
    }
 }
 @keyframes move-down1 {
    to{
        transform: translateY(-10px);
    }
 }

 .container3{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    
 }

.container3 h1{
    top: -10px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.container3 p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: Raleway;
    font-size: larger;
}

.container3-card{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    gap: 18px;
}

.card3-back{
    max-width: 310px;
    background: linear-gradient(red, green, blue, yellow);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    animation: spin 3.5s ease infinite;
}

 .card3{
    max-width: 300px;
    height: 300px;
    margin: 10px 10px;
    padding: 15px 15px;
    justify-content: center;
    background: white;
    background-color: #032e57;
    transition: 0.3s ease-in-out;
}

.card3-back :hover{
    max-height: max-content;
}

.card3:hover{
    height: auto;
    bottom: 10px;
}

.card3-img{
    position: relative;
    width: auto;
    height: auto;
    top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.card3-img img{
    max-width: 100%;
    justify-content: center;
    border-radius: 4px;
}

.card3-img h1{
    margin-top: 15px;
    text-align: center;
    color: orangered;
}
.card3-content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.card3:hover{
    position: relative;
    top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card3:hover .card3-img{
    position: relative;
    top: -100px;
    transition-duration: 0.5s;
}



.card3:hover .card3-content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    top: -40px;
    font-size: large;
    font-weight: 900;
    font-family: Raleway;
    color: white;
}

@keyframes spin {
   0%{
    background: linear-gradient(60deg, red, green, blue, yellow);
   }
   20%{
    background: linear-gradient(60deg, red, green, blue, yellow);
   }
   40%{
    background: linear-gradient(120deg, red, green, blue, yellow);
   }
   60%{
    background: linear-gradient(180deg, red, green, blue, yellow);
   }
   80%{
    background: linear-gradient(240deg, red, green, blue, yellow);
   }
   100%{
    background: linear-gradient(300deg, red, green, blue, yellow);
   }
}

.container4{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #dce7ce;
}

.container4 h1{
    font-family: sans-serif;
    font-weight: bolder;
}

.container4-card{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.card4{
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 300px;
    
    padding: 30px 50px;
    box-shadow: 8px 6px 4px #FF995080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card4 img{
    max-width: 200px;
    margin-bottom: 40px;
    max-height: 150px;
}

.container4 p{
    font-size: 30px;
    font-weight: bolder;
    font-family: Raleway;
    padding-top: 30px;
}

.container5{
    width: 100%;
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background: #462811;
    color: white;
}

.container5 h1{
    padding-bottom: 50px;
    font-size: 70px;
}
.container5-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    top: 150px;
}

.card5 p{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fa-phone{
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
    
}
.call p{
    font-size: x-large;
}

.cc51{
    font-family: Raleway;
    font-size: larger;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.cc51 a{
    text-decoration: none;
    color: gold;
}

.cc51 a:hover{
    color: white;
}

.cc52{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.cc52 p{
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
}

.cc52 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}

.cc52 ul li:nth-child(1) a .fa {
    color: #3b5998;
}
  
.cc52 ul li:nth-child(2) a .fa {
    color: #00aced;
}

.cc52 ul li:nth-child(3) a .fa {
    color: #e4405f;
}
  
.cc52 ul li:nth-child(4) a .fa {
    color: #007bb6;
}
